.contact-hero {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $primary;

  &-container {
    display: flex;
    height: 100%;
    padding-left: 118px;

    position: relative;

    color: $white;

    @include tablet {
      padding-left: 24px;
    }

    &-left {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 40%;
      @media (max-width: 1356px){
        width: 90%;
      }
      padding: 87.5px 0 87.5px 0;

      @include tablet {
        padding-block: 10%;
      }

      h1 {
        font-weight: 900;
        line-height: 47px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }

      h1 + p {
        margin-top: 24px;

        @include tablet {
          margin-top: 12px;
        }
      }
    }

    &-right {
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      height: 303px;

      @media (max-width: 1356px){
        display: none;
      }

      img {
        width: 100%;
        height: 100%;

        object-fit: contain;

        object-position: right;
      }
    }
  }
}
