.contact-faq {
  position: relative;
  width: 100%;
  height: 100%;

  padding-top: 95px;

  @include tablet {
    height: 100%;
  }

  &-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    color: $black;

    &-top {
      text-align: center;

      h2 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.5px;

        color: $dark-green;
      }

      p {
        font-weight: 700;
        font-size: 28px;
        line-height: 24px;
        letter-spacing: 0.1px;
      }

      h2 + p {
        margin-top: 20px;
      }
    }
  }
}
