.contact-form {
  position: relative;
  width: 100%;
  height: 100%;

  padding-top: 74px;

  @include tablet {
    height: 100%;
  }

  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;

    color: $black;

    @include tablet {
      grid-template-columns: 1fr;

      grid-auto-flow: dense;
    }
    &-left {
      width: 100%;
      height: 100%;
      text-align: center;
      justify-content: center;

      display: flex;
      flex-direction: column;

      img {
        width: 100%;
        height: 100%;

        max-width: 500px;
        max-height: 500px;
        object-fit: cover;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: center;

      height: 100%;

      h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 49px;
      }
      p {
        font-weight: 400;
        font-size: 14.7737px;
        line-height: 20px;
      }

      h2 + p {
        margin-top: 6px;
      }

      &-bottom {
        margin-top: 25px;
        form {
          width: 100%;

          display: flex;
          flex-direction: column;
          .contact-form-container-right-bottom-inputs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            gap: 26px;
            .contact-form-container-right-bottom-inputs-input {
              display: flex;
              flex-direction: column;

              width: 100%;

              label {
                position: relative;
                font-weight: 600;
                font-size: 12.6632px;
                line-height: 15px;

                background-color: #fff;

                top: 7px;
                left: 12px;

                max-width: fit-content;
                padding: 0 5px;
              }

              input {
                padding: 16px;
                font-weight: 400;
                font-size: 14.7737px;
                line-height: 18px;

                border: 1.05526px solid #d2d5da;
                border-radius: 8.44211px;
              }
            }
          }

          .contact-form-container-right-bottom-input {
            display: flex;
            flex-direction: column;

            width: 100%;
            label {
              position: relative;
              font-weight: 600;
              font-size: 12.6632px;
              line-height: 15px;

              background-color: #fff;

              top: 7px;
              left: 12px;

              max-width: fit-content;
              padding: 0 5px;
            }

            input,
            textarea {
              padding: 16px;

              font-weight: 400;
              font-size: 14.7737px;
              line-height: 18px;

              border: 1.05526px solid #d2d5da;
              border-radius: 8.44211px;

              font-family: 'Satoshi-Regular';
            }

            textarea {
              resize: vertical;
              min-height: 160px;
            }
          }

          .contact-form-container-right-bottom-inputs
            + .contact-form-container-right-bottom-input,
          .contact-form-container-right-bottom-input
            + .contact-form-container-right-bottom-input {
            margin-top: 26px;
          }

          .contact-form-container-right-bottom-input + button {
            margin-top: 29px;
          }
        }
      }
    }
  }
}
