$mobile: 768px;
$tablet: 1024px;
$desktop-mini: 1200px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin desktop-mini {
  @media (max-width: $desktop-mini) {
    @content;
  }
}
