.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  background-color: $white;
  &-container {
    padding-inline: 66px;
    padding-block: 17px;
    display: flex;
    justify-content: space-between;
    z-index: 999999999;
    position: relative;
    @include tablet {
      padding-inline: 20px;
    }
    li.active a {
      color: $primary !important;
    }
    &-left,
    &-right {
      display: flex;
      align-items: center;

      &-nav {
        @media (max-width: 700px) {
          display: none;
        }
        &-list {
          display: flex;
          align-items: center;
          margin-inline: 20px;
          list-style: none;

          @include tablet {
            margin-inline: 10px;
          }
          &-item {
            position: relative;
            margin-inline: 10px;
            a {
              color: $black;
              font-size: 16px;
              font-weight: 500;
              text-decoration: none;
              transition: color 0.2s ease-in-out;

              @include tablet {
                font-size: 14px;
              }
              &:hover {
                color: $primary;
                cursor: pointer;
              }

              &::after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
              }
            }
          }
        }
      }
      &-list {
        display: flex;
        align-items: center;
        list-style: none;
        &-item {
          position: relative;
          margin-inline: 15px;
          a {
            color: $black;
            font-size: 16px;
            text-decoration: none;
            display: flex;
            align-items: center;
            transition: color 0.2s ease-in-out;
            @include tablet {
              font-size: 14px;
            }

            &:hover {
              color: $primary;
              cursor: pointer;
            }

            &::after {
              content: '';
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
            }
          }
        }
      }
    }

    &-right {
      &-button-burger {
        &:focus {
          outline: none;
        }
        &.open {
          div {
            display: none;
          }
          img {
            display: block;
            width: 100%;
          }
        }
        display: none;
        width: 35px;
        height: 25px;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        border: none;
        background: transparent;
        padding: 0;
        box-sizing: border-box;
        @media (max-width: 700px) {
          display: flex;
        }
        div {
          width: 100%;
          height: 3px;
          background: $primary;
        }
        img {
          display: none;
        }
      }
      &-list {
        @media (max-width: 700px) {
          display: none;
        }
        &-item {
          display: flex;
          align-items: center;
          gap: 6px;

          &-icon {
            margin-right: 6px;
            height: 20px;
          }
        }
      }
    }

    &-left {
      &-logo {
        @include tablet {
          img {
            width: 45px;
          }
        }
      }
    }
  }
  .mobile-menu {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    background: white;
    right: -100%;
    top: 0;
    transition: right 0.6s cubic-bezier(0.85, 0, 0.2, 1);
    @media (max-width: 700px) {
      display: block;
    }
    &.open {
      right: 0;
    }
    &-container {
      padding-top: 100px;
      @extend .container-l;
      &-nav {
        &-list {
          display: flex;
          flex-direction: column;
          gap: 10px;
          &-item {
            &-icon {
              height: 20px;
            }
            &.icon {
              a {
                display: flex;
                gap: 5px;
                align-items: center;
              }
            }
            a {
              color: $black;
              font-size: 20px;
              text-decoration: none;
              display: flex;
              align-items: center;
              transition: color 0.2s ease-in-out;
              @extend .bold;
            }
          }
        }
      }
    }
  }
}
