.section-how-un-pour-cent-use-donation {
  .section-images-and-text-container-img {
    position: relative;
    &::after {
      content: url('../../../assets/decoration-gift-green.svg');
      position: absolute;
      top: -20%;
      right: -10%;

      @include tablet{
        display: none;
      }
    }
    &::before {
      content: url('../../../assets/decoration-gift-red.svg');
      position: absolute;
      bottom: -18%;
      left: -3%;
      @include tablet {
        display: none;
      }
    }
  }
}
