.home-hero {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: $primary;
  @extend .margin-bottom-section-100;
  @include tablet {
    height: auto;
  }
  &-container {
    height: 100%;
    padding-block: 10%;
    box-sizing: border-box;
    @extend .container-l;
    @include tablet {
      grid-template-columns: 1fr;
      grid-auto-flow: dense;
    }
    &-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 25px;
      height: 100%;
      width: 40%;
      @include tablet {
        width: 100%;
      }
      &-button {
        display: flex;
      }
    }

    &-right {
      width: 60%;
      height: 100%;
      position: absolute;
      right: 0;
      bottom: 0;

      @include tablet {
        display: none;
      }
      img {
        width: 100%;
        height: auto;
        position: absolute;
        bottom: 0;
      }
    }
  }
}
