.hero {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: $primary;

  @include tablet {
    height: 100%;
  }

  &-container {
    display: grid;
    grid-template-columns: 0.731fr 1fr;

    color: $white;

    @include tablet {
      grid-template-columns: 1fr;

      grid-auto-flow: dense;
    }
    &-left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      height: 100%;
      h1 {
        font-weight: 900;
        font-size: 38px;
        line-height: 47px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }

    &-right {
      width: 100%;
      height: 80vh;

      @include tablet {
        height: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
