.section-images-and-text {
  @extend .margin-bottom-section-100;

  &.grey-background {
    background-color: $grey;
    padding-block: 5%;
    padding-bottom: 3%;

    @include mobile {
      padding-bottom: 5%;
    }
  }
  &-container {
    &.inverse {
      flex-direction: row-reverse !important;
      @include tablet {
        flex-direction: column-reverse !important;
      }
    }
    display: flex;
    gap: 85px;
    align-items: center;
    @include tablet {
      flex-direction: column-reverse;
      gap: 20px;
    }
    &-text {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 20px;
      a {
        width: fit-content;
      }
      @include tablet {
        width: 100%;
      }
    }
    &-img {
      width: 50%;
      @include tablet {
        width: 100%;
      }
      .item-img {
        width: 100%;
        border-radius: 8px;
        height: 50vh;
        object-fit: cover;
        img {
          object-fit: cover;
        }
      }
      &.grid {
        width: 50%;
        @include tablet {
          width: 100%;
        }
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        position: relative;
        .item-img {
          border-radius: 8px;
          position: relative;
          height: 25vh;
          object-fit: cover;
          &:nth-child(1) {
            grid-area: 1 / 1 / 2 / 3;
            width: 100%;
            object-position: 0% 31%;
            @include tablet {
              object-position: initial !important;
            }
          }
          &:nth-child(2) {
            width: 100%;
            grid-area: 2 / 1 / 3 / 2;
          }
          &:nth-child(3) {
            grid-area: 2 / 2 / 3 / 3;
            width: 100%;
          }
        }
      }
    }
  }
}
