.button-classic {
  padding: 12px 20px;
  background: #ffffff;
  color: $primary;
  font-size: 16px;
  font-family: 'Satoshi-Bold';
  border: none;
  border-radius: 100px;
}

.button-secondary {
  padding: 12px 20px;
  background: $secondary;
  color: $white;
  font-size: 16px;
  font-family: 'Satoshi-Bold';
  border: none;
  border-radius: 100px;
}
/* HOVER */

.button-classic:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.2s ease-in-out;
}

/* ACTIVE */

.button-classic:active {
  background-color: $white;

  transition: all 0.2s ease-in-out;
}
