.button-classic {
  padding: 12px 20px;
  background: #ffffff;
  color: $primary;
  font-size: 16px;
  font-family: "Satoshi-Bold";
  border: none;
  border-radius: 100px;
}
.button-secondary {
  padding: 12px 20px;
  background-color: $secondary;
  color: $white;
  font-size: 16px;
  font-family: "Satoshi-Bold";
  border: none;
  border-radius: 100px;
  color: white !important;
  transition: background-color 0.3s ease-in-out !important;

  &:hover {
    background-color: #ea5b6e;
  }
}

.button-primary {
  padding: 12px 20px;
  background: $primary;
  color: $white;
  font-size: 16px;
  font-family: "Satoshi-Bold";
  border: none;
  border-radius: 8.44211px;
}

/* HOVER */

.button-classic:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button-primary:hover {
  background-color: rgba(70, 133, 255, 0.9);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

/* ACTIVE */

.button-classic:active {
  background-color: $white;

  transition: all 0.2s ease-in-out;
}
