$titles: (
  '200': 200,
  '120': 120,
  '75': 75,
  '43': 43,
  '30': 30,
  '20': 20,
  '27': 27,
  '50': 50,
  '16': 16,
);
$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'white': $white,
  'black': $black,
  'secondary-gradient': $secondary-gradient,
  'primary-gradient': $primary-gradient,
  'green': $green,
);

@each $name, $size in $titles {
  .text-#{$name} {
    font-size: #{$size}px;
    line-height: calc(#{$size}px + 10px);
  }
}

@each $name, $color in $colors {
  .color-#{$name} {
    color: $color;
  }
}

.light {
  font-family: 'Satoshi-Light';
}
.medium {
  font-family: 'Satoshi-Medium';
}
.regular {
  font-family: 'Satoshi-Regular';
}
.italic {
  font-family: 'Satoshi-Italic';
}
.semibold {
  font-family: 'Satoshi-SemiBold';
}
.bold {
  font-family: 'Satoshi-Bold';
}

.black {
  font-family: 'Satoshi-Black';
}

.text-200 {
  font-size: clamp(10vw, 20vw, 200px);
}

.text-100 {
  font-size: clamp(5vw, 100px, 120px);
}
