$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'white': $white,
  'black': $black,
  'green': $green,
);


@each $name, $color in $colors {
  .color-#{$name} {
    color: $color;
  }
}

.light {
  font-family: 'Satoshi-Light';
}
.medium {
  font-family: 'Satoshi-Medium';
}
.regular {
  font-family: 'Satoshi-Regular';
}
.italic {
  font-family: 'Satoshi-Italic';
}
.bold {
  font-family: 'Satoshi-Bold';
}
.black {
  font-family: 'Satoshi-Black';
}

.text-38 {
  font-size: clamp(2vw, 5vw , 38px);
  line-height: initial;
}

.text-30 {
  font-size: clamp(2vw, 4.5vw , 30px);
  line-height: initial;
}

.text-26 {
  font-size: clamp(2vw, 4.2vw , 30px);
  line-height: initial;
}

.text-20 {
  font-size: clamp(2vw, 4vw , 30px);
  line-height: initial;
}

.text-16 {
  font-size: clamp(1vw, 3vw , 16px);
  line-height: initial;
}


.text-14 {
  font-size: clamp(2vw, 2vw , 14px);
  line-height: initial;
}
