$colors: (
  'primary': $primary,
  'secondary': $secondary,
  'white': $white,
  'black': $black,
  'green': $green,
  'red': $red,
);

@each $name, $color in $colors {
  .color-#{$name} {
    color: $color !important;
  }
}

.light {
  font-family: 'Satoshi-Light';
}
.medium {
  font-family: 'Satoshi-Medium';
}
.regular {
  font-family: 'Satoshi-Regular';
}
.italic {
  font-family: 'Satoshi-Italic';
}
.bold {
  font-family: 'Satoshi-Bold';
}
.black {
  font-family: 'Satoshi-Black';
}

.text-38 {
  font-size: 38px;
  line-height: initial;

  @include tablet {
    font-size: 30px;
  }
}

.text-30 {
  font-size: 30px;
  line-height: initial;
}

.text-26 {
  font-size: 26px;
  line-height: initial;
}

.text-20 {
  font-size: 20px;
  line-height: initial;
}

.text-16 {
  font-size: 16px;
  line-height: initial;
}

.text-14 {
  font-size: 14px;
  line-height: initial;
}

span.red {
  color: $secondary;
}

span.green {
  color: $green;
}
