.donate-section {
  background-color: #4685ff;
  padding: 110px 0;

  font-family: 'Satoshi', sans-serif;
  color: white;

  @include mobile() {
    padding: 60px 0;
  }

  * + & {
    margin-top: 73px;
  }

  .max-width {
    display: flex;
    flex-direction: column;

    align-items: center;
  }

  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    text-align: center;
    letter-spacing: -0.5px;

    @include mobile() {
      font-size: 28px;
    }
  }

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.5px;

    @include mobile() {
      font-size: 14px;
    }

    * + & {
      margin-top: 13px;
    }
  }

  a {
    background-color: white;
    color: #4685ff;
    padding: 12px 30px;
    border-radius: 50px;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    display: inline-block;

    letter-spacing: 0.1px;

    * + & {
      margin-top: 20px;
    }
  }
}
