@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Satoshi-Regular";
  margin-top: 85px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html::selection {
  color: red;
  background: yellow;
}

.container-xl {
  padding-inline: 4%;
  box-sizing: border-box;
}
@media (max-width: 991px) {
  .container-xl {
    padding-inline: 4%;
  }
}

.container-l, .home-hero-container {
  padding-inline: 6%;
  box-sizing: border-box;
}
@media (max-width: 991px) {
  .container-l, .home-hero-container {
    padding-inline: 4%;
  }
}

.container-s {
  padding-inline: 8%;
  box-sizing: border-box;
}
@media (max-width: 991px) {
  .container-s {
    padding-inline: 4%;
  }
}

.margin-bottom-section-100, .home-three-cards-informations, .home-hero, .section-images-and-text-container, .section-images-and-text, .section-three-kpis {
  margin-bottom: 100px;
}
@media (max-width: 1024px) {
  .margin-bottom-section-100, .home-three-cards-informations, .home-hero, .section-images-and-text-container, .section-images-and-text, .section-three-kpis {
    margin-bottom: 50px;
  }
}

/**
 * @license
 *
 * Font Family: Satoshi
 * Designed by: Deni Anggara
 * URL: https://www.fontshare.com/fonts/satoshi
 * © 2023 Indian Type Foundry
 *
 * Font Styles:
 * Satoshi Variable(Variable font)
 * Satoshi Variable Italic(Variable font)
 * Satoshi Light
 * Satoshi Light Italic
 * Satoshi Regular
 * Satoshi Italic
 * Satoshi Medium
 * Satoshi Medium Italic
 * Satoshi Bold
 * Satoshi Bold Italic
 * Satoshi Black
 * Satoshi Black Italic
 *
*/
/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/
@font-face {
  font-family: "Satoshi-Variable";
  src: url("../../public/font-faces/Satoshi-Variable.woff2") format("woff2"), url("../../public/font-faces/Satoshi-Variable.woff") format("woff"), url("../../public/font-faces/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/
@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("../../public/font-faces/Satoshi-VariableItalic.woff2") format("woff2"), url("../../public/font-faces/Satoshi-VariableItalic.woff") format("woff"), url("../../public/font-faces/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Light";
  src: url("../../public/font-faces/Satoshi-Light.woff2") format("woff2"), url("../../public/font-faces/Satoshi-Light.woff") format("woff"), url("../../public/font-faces/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-LightItalic";
  src: url("../../public/font-faces/Satoshi-LightItalic.woff2") format("woff2"), url("../../public/font-faces/Satoshi-LightItalic.woff") format("woff"), url("../../public/font-faces/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Regular";
  src: url("../../public/font-faces/Satoshi-Regular.woff2") format("woff2"), url("../../public/font-faces/Satoshi-Regular.woff") format("woff"), url("../../public/font-faces/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Italic";
  src: url("../../public/font-faces/Satoshi-Italic.woff2") format("woff2"), url("../../public/font-faces/Satoshi-Italic.woff") format("woff"), url("../../public/font-faces/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("../../public/font-faces/Satoshi-Medium.woff2") format("woff2"), url("../../public/font-faces/Satoshi-Medium.woff") format("woff"), url("../../public/font-faces/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("../../public/font-faces/Satoshi-MediumItalic.woff2") format("woff2"), url("../../public/font-faces/Satoshi-MediumItalic.woff") format("woff"), url("../../public/font-faces/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("../../public/font-faces/Satoshi-Bold.woff2") format("woff2"), url("../../public/font-faces/Satoshi-Bold.woff") format("woff"), url("../../public/font-faces/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-BoldItalic";
  src: url("../../public/font-faces/Satoshi-BoldItalic.woff2") format("woff2"), url("../../public/font-faces/Satoshi-BoldItalic.woff") format("woff"), url("../../public/font-faces/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Black";
  src: url("../../public/font-faces/Satoshi-Black.woff2") format("woff2"), url("../../public/font-faces/Satoshi-Black.woff") format("woff"), url("../../public/font-faces/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-BlackItalic";
  src: url("../../public/font-faces/Satoshi-BlackItalic.woff2") format("woff2"), url("../../public/font-faces/Satoshi-BlackItalic.woff") format("woff"), url("../../public/font-faces/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
.color-primary {
  color: #4685FF;
}

.color-secondary {
  color: #FF667A;
}

.color-white {
  color: #ffffff;
}

.color-black {
  color: #252525;
}

.color-green {
  color: #6AB938;
}

.light {
  font-family: "Satoshi-Light";
}

.medium {
  font-family: "Satoshi-Medium";
}

.regular {
  font-family: "Satoshi-Regular";
}

.italic {
  font-family: "Satoshi-Italic";
}

.bold {
  font-family: "Satoshi-Bold";
}

.black {
  font-family: "Satoshi-Black";
}

.text-38 {
  font-size: 38px;
  line-height: initial;
}

.text-30 {
  font-size: 30px;
  line-height: initial;
}

.text-26 {
  font-size: 26px;
  line-height: initial;
}

.text-20 {
  font-size: 20px;
  line-height: initial;
}

.text-16 {
  font-size: 16px;
  line-height: initial;
}

.text-14 {
  font-size: 14px;
  line-height: initial;
}

span.red {
  color: #FF667A;
}

span.green {
  color: #6AB938;
}

.button-classic {
  padding: 12px 20px;
  background: #FFFFFF;
  color: #4685FF;
  font-size: 16px;
  font-family: "Satoshi-Bold";
  border: none;
  border-radius: 100px;
}

.button-secondary {
  padding: 12px 20px;
  background: #FF667A;
  color: #ffffff;
  font-size: 16px;
  font-family: "Satoshi-Bold";
  border: none;
  border-radius: 100px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  background-color: #ffffff;
}
.header-container {
  padding-inline: 66px;
  padding-block: 17px;
  display: flex;
  justify-content: space-between;
}
.header-container-left, .header-container-right {
  display: flex;
  align-items: center;
}
.header-container-left-nav-list, .header-container-right-nav-list {
  display: flex;
  align-items: center;
  margin-inline: 20px;
  list-style: none;
}
.header-container-left-nav-list-item, .header-container-right-nav-list-item {
  position: relative;
  margin-inline: 10px;
}
.header-container-left-nav-list-item a, .header-container-right-nav-list-item a {
  color: #252525;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
.header-container-left-nav-list-item a:hover, .header-container-right-nav-list-item a:hover {
  color: #4685FF;
  cursor: pointer;
}
.header-container-left-nav-list-item a::after, .header-container-right-nav-list-item a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-container-left-list, .header-container-right-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.header-container-left-list-item, .header-container-right-list-item {
  position: relative;
  margin-inline: 15px;
}
.header-container-left-list-item a, .header-container-right-list-item a {
  color: #252525;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in-out;
}
.header-container-left-list-item a:hover, .header-container-right-list-item a:hover {
  color: #4685FF;
  cursor: pointer;
}
.header-container-left-list-item a::after, .header-container-right-list-item a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-container-right-list-item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header-container-right-list-item-icon {
  margin-right: 6px;
}

.section-three-kpis {
  width: 100%;
}
.section-three-kpis-container {
  border-radius: 8px;
  width: 100%;
  padding: 5vw 10vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.section-three-kpis-container.green {
  background-color: #6AB938;
}
@media (max-width: 1024px) {
  .section-three-kpis-container {
    flex-direction: column;
  }
}
.section-three-kpis-container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 15vw;
}
@media (max-width: 1200px) {
  .section-three-kpis-container-item {
    width: 20vw;
  }
}
@media (max-width: 1024px) {
  .section-three-kpis-container-item {
    width: 60%;
    margin: 0 auto;
  }
}
.section-three-kpis-container-item p {
  text-align: center;
}

.section-images-and-text.grey-background {
  background-color: #F0F0F0;
  padding-block: 5%;
}
.section-images-and-text-container {
  display: flex;
  gap: 85px;
  align-items: center;
}
.section-images-and-text-container.inverse {
  flex-direction: row-reverse !important;
}
@media (max-width: 1024px) {
  .section-images-and-text-container.inverse {
    flex-direction: column-reverse !important;
  }
}
@media (max-width: 1024px) {
  .section-images-and-text-container {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
.section-images-and-text-container-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-images-and-text-container-text a {
  width: fit-content;
}
@media (max-width: 991px) {
  .section-images-and-text-container-text {
    width: 100%;
  }
}
.section-images-and-text-container-img {
  width: 50%;
}
@media (max-width: 991px) {
  .section-images-and-text-container-img {
    width: 100%;
  }
}
.section-images-and-text-container-img .item-img {
  width: 100%;
  border-radius: 8px;
  height: 50vh;
  object-fit: cover;
}
.section-images-and-text-container-img .item-img img {
  object-fit: cover;
}
.section-images-and-text-container-img.grid {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  position: relative;
}
@media (max-width: 991px) {
  .section-images-and-text-container-img.grid {
    width: 100%;
  }
}
.section-images-and-text-container-img.grid .item-img {
  border-radius: 8px;
  position: relative;
  height: 25vh;
  object-fit: cover;
}
.section-images-and-text-container-img.grid .item-img:nth-child(1) {
  grid-area: 1/1/2/3;
  width: 100%;
  object-position: 0% 31%;
}
@media (max-width: 991px) {
  .section-images-and-text-container-img.grid .item-img:nth-child(1) {
    object-position: initial !important;
  }
}
.section-images-and-text-container-img.grid .item-img:nth-child(2) {
  width: 100%;
  grid-area: 2/1/3/2;
}
.section-images-and-text-container-img.grid .item-img:nth-child(3) {
  grid-area: 2/2/3/3;
  width: 100%;
}

.home-hero {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: #4685FF;
}
@media (max-width: 1024px) {
  .home-hero {
    height: auto;
  }
}
.home-hero-container {
  height: 100%;
  padding-block: 10%;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .home-hero-container {
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
  }
}
.home-hero-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  height: 100%;
  width: 40%;
}
@media (max-width: 1024px) {
  .home-hero-container-left {
    width: 100%;
  }
}
.home-hero-container-left-button {
  display: flex;
}
.home-hero-container-right {
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 1024px) {
  .home-hero-container-right {
    display: none;
  }
}
.home-hero-container-right img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

.home-three-cards-informations-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 991px) {
  .home-three-cards-informations-container {
    flex-direction: column;
  }
}
.home-three-cards-informations-container .card-item {
  width: 33.33333%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
}
.home-three-cards-informations-container .card-item.secondary {
  color: #FF667A;
}
.home-three-cards-informations-container .card-item.secondary .card-item-container-picto {
  background: rgba(255, 102, 122, 0.3);
}
.home-three-cards-informations-container .card-item.secondary .card-item-container-picto::after {
  background: #FF667A;
}
.home-three-cards-informations-container .card-item.primary {
  color: #4685FF;
}
.home-three-cards-informations-container .card-item.primary .card-item-container-picto {
  background: rgba(70, 133, 255, 0.3);
}
.home-three-cards-informations-container .card-item.primary .card-item-container-picto::after {
  background: #4685FF;
}
.home-three-cards-informations-container .card-item.green {
  color: #6AB938;
}
.home-three-cards-informations-container .card-item.green .card-item-container-picto {
  background: rgba(106, 185, 56, 0.3);
}
.home-three-cards-informations-container .card-item.green .card-item-container-picto::after {
  background: #6AB938;
}
@media (max-width: 1024px) {
  .home-three-cards-informations-container .card-item {
    width: 100%;
    height: auto;
  }
}
.home-three-cards-informations-container .card-item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.home-three-cards-informations-container .card-item-container-picto {
  padding: 30px;
  box-sizing: border-box;
  width: fit-content;
  border-radius: 100px;
  z-index: 97;
  position: relative;
}
.home-three-cards-informations-container .card-item-container-picto::after {
  content: "";
  width: 54px;
  height: 54px;
  z-index: 98;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 57px;
}
.home-three-cards-informations-container .card-item-container-picto img {
  line-height: 0;
  z-index: 9999;
  position: relative;
  margin-top: 5px;
}

/*# sourceMappingURL=main.css.map */
