@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  margin-top: 85px;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

html::selection {
  color: red;
  background: yellow;
}

.container-xl {
  padding-inline: 4%;
  box-sizing: border-box;
}
@media (max-width: 991px) {
  .container-xl {
    padding-inline: 4%;
  }
}

.container-l, .home-hero-container, .header .mobile-menu-container {
  padding-inline: 6%;
  box-sizing: border-box;
}
@media (max-width: 991px) {
  .container-l, .home-hero-container, .header .mobile-menu-container {
    padding-inline: 4%;
  }
}

.container-s {
  padding-inline: 8%;
  box-sizing: border-box;
}
@media (max-width: 991px) {
  .container-s {
    padding-inline: 4%;
  }
}

.margin-bottom-section-100, .home-three-cards-informations, .home-hero, .section-images-and-text, .section-three-kpis, .hero-association {
  margin-bottom: 100px;
}
@media (max-width: 1024px) {
  .margin-bottom-section-100, .home-three-cards-informations, .home-hero, .section-images-and-text, .section-three-kpis, .hero-association {
    margin-bottom: 50px;
  }
}

/**
 * @license
 *
 * Font Family: Satoshi
 * Designed by: Deni Anggara
 * URL: https://www.fontshare.com/fonts/satoshi
 * © 2023 Indian Type Foundry
 *
 * Font Styles:
 * Satoshi Variable(Variable font)
 * Satoshi Variable Italic(Variable font)
 * Satoshi Light
 * Satoshi Light Italic
 * Satoshi Regular
 * Satoshi Italic
 * Satoshi Medium
 * Satoshi Medium Italic
 * Satoshi Bold
 * Satoshi Bold Italic
 * Satoshi Black
 * Satoshi Black Italic
 *
*/
/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/
@font-face {
  font-family: "Satoshi-Variable";
  src: url("../../public/font-faces/Satoshi-Variable.woff2") format("woff2"), url("../../public/font-faces/Satoshi-Variable.woff") format("woff"), url("../../public/font-faces/Satoshi-Variable.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can controll variable axes as shown below:
* font-variation-settings: 'wght' 900.0;
*
* available axes:

* 'wght' (range from 300.0 to 900.0)

*/
@font-face {
  font-family: "Satoshi-VariableItalic";
  src: url("../../public/font-faces/Satoshi-VariableItalic.woff2") format("woff2"), url("../../public/font-faces/Satoshi-VariableItalic.woff") format("woff"), url("../../public/font-faces/Satoshi-VariableItalic.ttf") format("truetype");
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Light";
  src: url("../../public/font-faces/Satoshi-Light.woff2") format("woff2"), url("../../public/font-faces/Satoshi-Light.woff") format("woff"), url("../../public/font-faces/Satoshi-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-LightItalic";
  src: url("../../public/font-faces/Satoshi-LightItalic.woff2") format("woff2"), url("../../public/font-faces/Satoshi-LightItalic.woff") format("woff"), url("../../public/font-faces/Satoshi-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Regular";
  src: url("../../public/font-faces/Satoshi-Regular.woff2") format("woff2"), url("../../public/font-faces/Satoshi-Regular.woff") format("woff"), url("../../public/font-faces/Satoshi-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Italic";
  src: url("../../public/font-faces/Satoshi-Italic.woff2") format("woff2"), url("../../public/font-faces/Satoshi-Italic.woff") format("woff"), url("../../public/font-faces/Satoshi-Italic.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("../../public/font-faces/Satoshi-Medium.woff2") format("woff2"), url("../../public/font-faces/Satoshi-Medium.woff") format("woff"), url("../../public/font-faces/Satoshi-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-MediumItalic";
  src: url("../../public/font-faces/Satoshi-MediumItalic.woff2") format("woff2"), url("../../public/font-faces/Satoshi-MediumItalic.woff") format("woff"), url("../../public/font-faces/Satoshi-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("../../public/font-faces/Satoshi-Bold.woff2") format("woff2"), url("../../public/font-faces/Satoshi-Bold.woff") format("woff"), url("../../public/font-faces/Satoshi-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-BoldItalic";
  src: url("../../public/font-faces/Satoshi-BoldItalic.woff2") format("woff2"), url("../../public/font-faces/Satoshi-BoldItalic.woff") format("woff"), url("../../public/font-faces/Satoshi-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: "Satoshi-Black";
  src: url("../../public/font-faces/Satoshi-Black.woff2") format("woff2"), url("../../public/font-faces/Satoshi-Black.woff") format("woff"), url("../../public/font-faces/Satoshi-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-BlackItalic";
  src: url("../../public/font-faces/Satoshi-BlackItalic.woff2") format("woff2"), url("../../public/font-faces/Satoshi-BlackItalic.woff") format("woff"), url("../../public/font-faces/Satoshi-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}
.color-primary {
  color: #4685ff !important;
}

.color-secondary {
  color: #ff667a !important;
}

.color-white {
  color: #ffffff !important;
}

.color-black, .footer-container > div ul li,
.footer-container > div ul a, .input-custom {
  color: #252525 !important;
}

.color-green {
  color: #6ab938 !important;
}

.color-red {
  color: #FF0000 !important;
}

.light {
  font-family: "Satoshi-Light";
}

.medium {
  font-family: "Satoshi-Medium";
}

.regular, .footer-container > div ul li,
.footer-container > div ul a, .input-custom {
  font-family: "Satoshi-Regular";
}

.italic {
  font-family: "Satoshi-Italic";
}

.bold, .header .mobile-menu-container-nav-list-item a {
  font-family: "Satoshi-Bold";
}

.black {
  font-family: "Satoshi-Black";
}

.text-38 {
  font-size: 38px;
  line-height: initial;
}
@media (max-width: 1024px) {
  .text-38 {
    font-size: 30px;
  }
}

.text-30 {
  font-size: 30px;
  line-height: initial;
}

.text-26 {
  font-size: 26px;
  line-height: initial;
}

.text-20 {
  font-size: 20px;
  line-height: initial;
}

.text-16, .input-custom {
  font-size: 16px;
  line-height: initial;
}

.text-14, .footer-container > div ul li,
.footer-container > div ul a {
  font-size: 14px;
  line-height: initial;
}

span.red {
  color: #ff667a;
}

span.green {
  color: #6ab938;
}

.button-classic {
  padding: 12px 20px;
  background: #ffffff;
  color: #4685ff;
  font-size: 16px;
  font-family: "Satoshi-Bold";
  border: none;
  border-radius: 100px;
}

.button-secondary {
  padding: 12px 20px;
  background-color: #ff667a;
  color: #ffffff;
  font-size: 16px;
  font-family: "Satoshi-Bold";
  border: none;
  border-radius: 100px;
  color: white !important;
  transition: background-color 0.3s ease-in-out !important;
}
.button-secondary:hover {
  background-color: #ea5b6e;
}

.button-primary {
  padding: 12px 20px;
  background: #4685ff;
  color: #ffffff;
  font-size: 16px;
  font-family: "Satoshi-Bold";
  border: none;
  border-radius: 8.44211px;
}

/* HOVER */
.button-classic:hover {
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button-primary:hover {
  background-color: rgba(70, 133, 255, 0.9);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

/* ACTIVE */
.button-classic:active {
  background-color: #ffffff;
  transition: all 0.2s ease-in-out;
}

.input-custom {
  border: none;
  border-bottom: 1px solid #252525;
  background-color: #f0f0f0;
  padding-block: 10px;
  background-color: white;
  padding-inline: 2px;
}

.max-width {
  max-width: 1224px;
  padding: 0 24px;
  margin: 0 auto;
}

.hero-association {
  --icon-size: 42px;
  position: relative;
  background-color: black;
}
.hero-association .max-width {
  padding: 137px 16px 155px 16px;
}
.hero-association .hero-association__background,
.hero-association .hero-association__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero-association .hero-association__background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-association .hero-association__overlay {
  background-color: rgba(0, 0, 0, 0.4);
}
.hero-association .hero-association__content {
  position: relative;
  text-align: center;
}
.hero-association .hero-association__content .hero-association__content__logo {
  height: var(--icon-size);
  width: var(--icon-size);
  border-radius: 8px;
}
.hero-association .hero-association__content h1 {
  color: white;
  font-weight: 900;
  font-size: 38px;
  line-height: 47px;
}
.hero-association .hero-association__content p {
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 13px;
}
.hero-association .hero-association__content p span {
  font-family: "Satoshi-Black", sans-serif;
  font-weight: 700;
  padding: 0 12px;
}

.social-section {
  overflow: hidden;
}
* + .social-section {
  margin-top: 86px;
}
.social-section h2 {
  text-align: center;
  color: #252525;
  font-family: "Satoshi", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
}
.social-section h2 span {
  color: #ff667a;
}
.social-section .socials__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
* + .social-section .socials__cards {
  margin-top: 45px;
}
@media (max-width: 1200px) {
  .social-section .socials__cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1024px) {
  .social-section .socials__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .social-section .socials__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.social-section .socials__cards .socials__card {
  display: flex;
  justify-content: center;
  padding: 50px;
  border-radius: 8px;
}
.social-section .socials__cards .socials__card.socials__card--twitter {
  background: #1d9bf0;
}
.social-section .socials__cards .socials__card.socials__card--facebook {
  background: linear-gradient(94.45deg, #046de4 -4.61%, #18adfe 95.47%);
}
.social-section .socials__cards .socials__card.socials__card--instagram {
  background: radial-gradient(92.18% 99.11% at 26.56% 107.7%, #ffdd55 0%, #ffdd55 10%, #ff543e 50%, #c837ab 100%);
}
.social-section .socials__cards .socials__card.socials__card--linkedin {
  background: #007ebb;
}
.social-section .socials__cards .socials__card h3 {
  font-family: "Satoshi", sans-serif;
  color: white;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  letter-spacing: 0.1px;
  transform: translateY(10px);
}
* + .social-section .socials__cards .socials__card h3 {
  margin-left: 10px;
}

.donate-section {
  background-color: #4685ff;
  padding: 110px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Satoshi", sans-serif;
  color: white;
}
@media (max-width: 768px) {
  .donate-section {
    padding: 60px 0;
  }
}
* + .donate-section {
  margin-top: 73px;
}
.donate-section .max-width {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.donate-section h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.5px;
}
@media (max-width: 768px) {
  .donate-section h2 {
    font-size: 28px;
  }
}
.donate-section p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.5px;
}
@media (max-width: 768px) {
  .donate-section p {
    font-size: 14px;
  }
}
* + .donate-section p {
  margin-top: 13px;
}
.donate-section a {
  background-color: white;
  color: #4685ff;
  padding: 12px 30px;
  border-radius: 50px;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: fit-content;
  display: inline-flex;
  letter-spacing: 0.1px;
}
* + .donate-section a {
  margin-top: 20px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  background-color: #ffffff;
}
.header-container {
  padding-inline: 66px;
  padding-block: 17px;
  display: flex;
  justify-content: space-between;
  z-index: 999999999;
  position: relative;
}
@media (max-width: 1024px) {
  .header-container {
    padding-inline: 20px;
  }
}
.header-container li.active a {
  color: #4685ff !important;
}
.header-container-left, .header-container-right {
  display: flex;
  align-items: center;
}
@media (max-width: 700px) {
  .header-container-left-nav, .header-container-right-nav {
    display: none;
  }
}
.header-container-left-nav-list, .header-container-right-nav-list {
  display: flex;
  align-items: center;
  margin-inline: 20px;
  list-style: none;
}
@media (max-width: 1024px) {
  .header-container-left-nav-list, .header-container-right-nav-list {
    margin-inline: 10px;
  }
}
.header-container-left-nav-list-item, .header-container-right-nav-list-item {
  position: relative;
  margin-inline: 10px;
}
.header-container-left-nav-list-item a, .header-container-right-nav-list-item a {
  color: #252525;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 1024px) {
  .header-container-left-nav-list-item a, .header-container-right-nav-list-item a {
    font-size: 14px;
  }
}
.header-container-left-nav-list-item a:hover, .header-container-right-nav-list-item a:hover {
  color: #4685ff;
  cursor: pointer;
}
.header-container-left-nav-list-item a::after, .header-container-right-nav-list-item a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-container-left-list, .header-container-right-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.header-container-left-list-item, .header-container-right-list-item {
  position: relative;
  margin-inline: 15px;
}
.header-container-left-list-item a, .header-container-right-list-item a {
  color: #252525;
  font-size: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 1024px) {
  .header-container-left-list-item a, .header-container-right-list-item a {
    font-size: 14px;
  }
}
.header-container-left-list-item a:hover, .header-container-right-list-item a:hover {
  color: #4685ff;
  cursor: pointer;
}
.header-container-left-list-item a::after, .header-container-right-list-item a::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.header-container-right-button-burger {
  display: none;
  width: 35px;
  height: 25px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  box-sizing: border-box;
}
.header-container-right-button-burger:focus {
  outline: none;
}
.header-container-right-button-burger.open div {
  display: none;
}
.header-container-right-button-burger.open img {
  display: block;
  width: 100%;
}
@media (max-width: 700px) {
  .header-container-right-button-burger {
    display: flex;
  }
}
.header-container-right-button-burger div {
  width: 100%;
  height: 3px;
  background: #4685ff;
}
.header-container-right-button-burger img {
  display: none;
}
@media (max-width: 700px) {
  .header-container-right-list {
    display: none;
  }
}
.header-container-right-list-item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header-container-right-list-item-icon {
  margin-right: 6px;
  height: 20px;
}
@media (max-width: 1024px) {
  .header-container-left-logo img {
    width: 45px;
  }
}
.header .mobile-menu {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  background: white;
  right: -100%;
  top: 0;
  transition: right 0.6s cubic-bezier(0.85, 0, 0.2, 1);
}
@media (max-width: 700px) {
  .header .mobile-menu {
    display: block;
  }
}
.header .mobile-menu.open {
  right: 0;
}
.header .mobile-menu-container {
  padding-top: 100px;
}
.header .mobile-menu-container-nav-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header .mobile-menu-container-nav-list-item-icon {
  height: 20px;
}
.header .mobile-menu-container-nav-list-item.icon a {
  display: flex;
  gap: 5px;
  align-items: center;
}
.header .mobile-menu-container-nav-list-item a {
  color: #252525;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 0.2s ease-in-out;
}

.section-three-kpis {
  width: 100%;
}
.section-three-kpis-container {
  border-radius: 8px;
  width: 100%;
  padding: 5vw 10vw;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.section-three-kpis-container.green {
  background-color: #6ab938;
}
@media (max-width: 1024px) {
  .section-three-kpis-container {
    flex-direction: column;
  }
}
.section-three-kpis-container-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 15vw;
}
@media (max-width: 1200px) {
  .section-three-kpis-container-item {
    width: 20vw;
  }
}
@media (max-width: 1024px) {
  .section-three-kpis-container-item {
    width: 60%;
    margin: 0 auto;
  }
}
.section-three-kpis-container-item p {
  text-align: center;
}

.section-images-and-text.grey-background {
  background-color: #f0f0f0;
  padding-block: 5%;
  padding-bottom: 3%;
}
@media (max-width: 768px) {
  .section-images-and-text.grey-background {
    padding-bottom: 5%;
  }
}
.section-images-and-text-container {
  display: flex;
  gap: 85px;
  align-items: center;
}
.section-images-and-text-container.inverse {
  flex-direction: row-reverse !important;
}
@media (max-width: 1024px) {
  .section-images-and-text-container.inverse {
    flex-direction: column-reverse !important;
  }
}
@media (max-width: 1024px) {
  .section-images-and-text-container {
    flex-direction: column-reverse;
    gap: 20px;
  }
}
.section-images-and-text-container-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-images-and-text-container-text a {
  width: fit-content;
}
@media (max-width: 1024px) {
  .section-images-and-text-container-text {
    width: 100%;
  }
}
.section-images-and-text-container-img {
  width: 50%;
}
@media (max-width: 1024px) {
  .section-images-and-text-container-img {
    width: 100%;
  }
}
.section-images-and-text-container-img .item-img {
  width: 100%;
  border-radius: 8px;
  height: 50vh;
  object-fit: cover;
}
.section-images-and-text-container-img .item-img img {
  object-fit: cover;
}
.section-images-and-text-container-img.grid {
  width: 50%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  position: relative;
}
@media (max-width: 1024px) {
  .section-images-and-text-container-img.grid {
    width: 100%;
  }
}
.section-images-and-text-container-img.grid .item-img {
  border-radius: 8px;
  position: relative;
  height: 25vh;
  object-fit: cover;
}
.section-images-and-text-container-img.grid .item-img:nth-child(1) {
  grid-area: 1/1/2/3;
  width: 100%;
  object-position: 0% 31%;
}
@media (max-width: 1024px) {
  .section-images-and-text-container-img.grid .item-img:nth-child(1) {
    object-position: initial !important;
  }
}
.section-images-and-text-container-img.grid .item-img:nth-child(2) {
  width: 100%;
  grid-area: 2/1/3/2;
}
.section-images-and-text-container-img.grid .item-img:nth-child(3) {
  grid-area: 2/2/3/3;
  width: 100%;
}

.footer {
  padding-block: 5%;
  box-sizing: border-box;
  background-color: #ffffff;
}
.footer-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }
}
.footer-container > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 25%;
}
.footer-container > div:first-child {
  width: 13%;
}
.footer-container > div:first-child img {
  width: 45px;
}
@media (max-width: 768px) {
  .footer-container > div {
    width: 100%;
  }
}
.footer-container > div ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer-container .footer-container-newsletter form {
  display: flex;
  position: relative;
}
.footer-container .footer-container-newsletter form label {
  position: relative;
  background-color: #fafafa;
  padding: 12px 36px 12px 16px;
  width: 100%;
  border-bottom: 1px solid #252525;
}
.footer-container .footer-container-newsletter form label input {
  border: none;
  outline: none;
  background-color: #fafafa;
  width: 90%;
}
.footer-container .footer-container-newsletter form label button {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}
.footer-container .footer-container-newsletter p {
  font-family: "Satoshi", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #252525;
}

.home-hero {
  position: relative;
  width: 100%;
  height: 80vh;
  background-color: #4685ff;
}
@media (max-width: 1024px) {
  .home-hero {
    height: auto;
  }
}
.home-hero-container {
  height: 100%;
  padding-block: 10%;
  box-sizing: border-box;
}
@media (max-width: 1024px) {
  .home-hero-container {
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
  }
}
.home-hero-container-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  height: 100%;
  width: 40%;
}
@media (max-width: 1024px) {
  .home-hero-container-left {
    width: 100%;
  }
}
.home-hero-container-left-button {
  display: flex;
}
.home-hero-container-right {
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (max-width: 1024px) {
  .home-hero-container-right {
    display: none;
  }
}
.home-hero-container-right img {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
}

.home-three-cards-informations-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
@media (max-width: 991px) {
  .home-three-cards-informations-container {
    flex-direction: column;
  }
}
.home-three-cards-informations-container .card-item {
  width: 33.33333%;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
}
.home-three-cards-informations-container .card-item.secondary {
  color: #ff667a;
}
.home-three-cards-informations-container .card-item.secondary .card-item-container-picto {
  background: rgba(255, 102, 122, 0.3);
}
.home-three-cards-informations-container .card-item.secondary .card-item-container-picto::after {
  background: #ff667a;
}
.home-three-cards-informations-container .card-item.primary {
  color: #4685ff;
}
.home-three-cards-informations-container .card-item.primary .card-item-container-picto {
  background: rgba(70, 133, 255, 0.3);
}
.home-three-cards-informations-container .card-item.primary .card-item-container-picto::after {
  background: #4685ff;
}
.home-three-cards-informations-container .card-item.green {
  color: #6ab938;
}
.home-three-cards-informations-container .card-item.green .card-item-container-picto {
  background: rgba(106, 185, 56, 0.3);
}
.home-three-cards-informations-container .card-item.green .card-item-container-picto::after {
  background: #6ab938;
}
@media (max-width: 1024px) {
  .home-three-cards-informations-container .card-item {
    width: 100%;
    height: auto;
  }
}
.home-three-cards-informations-container .card-item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.home-three-cards-informations-container .card-item-container-picto {
  padding: 30px;
  box-sizing: border-box;
  width: fit-content;
  border-radius: 100px;
  z-index: 97;
  position: relative;
}
.home-three-cards-informations-container .card-item-container-picto::after {
  content: "";
  width: 54px;
  height: 54px;
  z-index: 98;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 57px;
}
.home-three-cards-informations-container .card-item-container-picto img {
  line-height: 0;
  z-index: 9999;
  position: relative;
  margin-top: 5px;
}

.section-how-un-pour-cent-use-donation .section-images-and-text-container-img {
  position: relative;
}
.section-how-un-pour-cent-use-donation .section-images-and-text-container-img::after {
  content: url("../../../public/illustrations/decoration-gift-green.svg");
  position: absolute;
  top: -20%;
  right: -10%;
}
@media (max-width: 1024px) {
  .section-how-un-pour-cent-use-donation .section-images-and-text-container-img::after {
    display: none;
  }
}
.section-how-un-pour-cent-use-donation .section-images-and-text-container-img::before {
  content: url("../../../public/illustrations/decoration-gift-red.svg");
  position: absolute;
  bottom: -18%;
  left: -3%;
}
@media (max-width: 1024px) {
  .section-how-un-pour-cent-use-donation .section-images-and-text-container-img::before {
    display: none;
  }
}

.contact-hero {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #4685ff;
}
.contact-hero-container {
  display: flex;
  height: 100%;
  padding-left: 118px;
  position: relative;
  color: #ffffff;
}
@media (max-width: 1024px) {
  .contact-hero-container {
    padding-left: 24px;
  }
}
.contact-hero-container-left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 87.5px 0 87.5px 0;
}
@media (max-width: 1356px) {
  .contact-hero-container-left {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .contact-hero-container-left {
    padding-block: 10%;
  }
}
.contact-hero-container-left h1 {
  font-weight: 900;
  line-height: 47px;
}
.contact-hero-container-left p {
  font-size: 16px;
  line-height: 24px;
}
.contact-hero-container-left h1 + p {
  margin-top: 24px;
}
@media (max-width: 1024px) {
  .contact-hero-container-left h1 + p {
    margin-top: 12px;
  }
}
.contact-hero-container-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 303px;
}
@media (max-width: 1356px) {
  .contact-hero-container-right {
    display: none;
  }
}
.contact-hero-container-right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: right;
}

.contact-form {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 74px;
}
@media (max-width: 1024px) {
  .contact-form {
    height: 100%;
    padding-top: 40px;
  }
}
.contact-form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  color: #252525;
}
@media (max-width: 1024px) {
  .contact-form-container {
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
  }
}
.contact-form-container-left {
  width: 100%;
  height: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .contact-form-container-left {
    display: none;
  }
}
.contact-form-container-left img {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 500px;
  object-fit: cover;
}
.contact-form-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.contact-form-container-right h2 {
  font-weight: 500;
  font-size: 36px;
  line-height: 49px;
}
@media (max-width: 1024px) {
  .contact-form-container-right h2 {
    font-size: 26px;
  }
}
.contact-form-container-right p {
  font-weight: 400;
  font-size: 14.7737px;
  line-height: 20px;
}
.contact-form-container-right h2 + p {
  margin-top: 6px;
}
.contact-form-container-right-bottom {
  margin-top: 25px;
}
.contact-form-container-right-bottom form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contact-form-container-right-bottom form .contact-form-container-right-bottom-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 26px;
}
@media (max-width: 1024px) {
  .contact-form-container-right-bottom form .contact-form-container-right-bottom-inputs {
    flex-direction: column;
  }
}
.contact-form-container-right-bottom form .contact-form-container-right-bottom-inputs .contact-form-container-right-bottom-inputs-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.contact-form-container-right-bottom form .contact-form-container-right-bottom-inputs .contact-form-container-right-bottom-inputs-input label {
  position: relative;
  font-weight: 600;
  font-size: 12.6632px;
  line-height: 15px;
  background-color: #fff;
  top: 7px;
  left: 12px;
  max-width: fit-content;
  padding: 0 5px;
}
.contact-form-container-right-bottom form .contact-form-container-right-bottom-inputs .contact-form-container-right-bottom-inputs-input input {
  padding: 16px;
  font-weight: 400;
  font-size: 14.7737px;
  line-height: 18px;
  border: 1.05526px solid #d2d5da;
  border-radius: 8.44211px;
}
.contact-form-container-right-bottom form .contact-form-container-right-bottom-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.contact-form-container-right-bottom form .contact-form-container-right-bottom-input label {
  position: relative;
  font-weight: 600;
  font-size: 12.6632px;
  line-height: 15px;
  background-color: #fff;
  top: 7px;
  left: 12px;
  max-width: fit-content;
  padding: 0 5px;
}
.contact-form-container-right-bottom form .contact-form-container-right-bottom-input input,
.contact-form-container-right-bottom form .contact-form-container-right-bottom-input textarea {
  padding: 16px;
  font-weight: 400;
  font-size: 14.7737px;
  line-height: 18px;
  border: 1.05526px solid #d2d5da;
  border-radius: 8.44211px;
  font-family: "Satoshi-Regular";
}
.contact-form-container-right-bottom form .contact-form-container-right-bottom-input textarea {
  resize: vertical;
  min-height: 160px;
}
.contact-form-container-right-bottom form .contact-form-container-right-bottom-inputs + .contact-form-container-right-bottom-input,
.contact-form-container-right-bottom form .contact-form-container-right-bottom-input + .contact-form-container-right-bottom-input {
  margin-top: 26px;
}
.contact-form-container-right-bottom form .contact-form-container-right-bottom-input + button {
  margin-top: 29px;
}

.faq {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 95px;
}
@media (max-width: 1024px) {
  .faq {
    height: 100%;
    padding-top: 40px;
  }
}
.faq-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: #252525;
}
.faq-container-top {
  text-align: center;
}
.faq-container-top h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.5px;
  color: #6ab938;
}
@media (max-width: 1024px) {
  .faq-container-top h2 {
    font-size: 26px;
  }
}
.faq-container-top p {
  font-weight: 700;
  font-size: 28px;
  line-height: 24px;
  letter-spacing: 0.1px;
}
@media (max-width: 1024px) {
  .faq-container-top p {
    font-size: 20px;
  }
}
.faq-container-top h2 + p {
  margin-top: 20px;
}
.faq-container-bottom {
  margin-top: 32px;
}
.faq-container-bottom .faq__title + .faq-container-bottom-wrapper-content {
  margin-top: 20px;
}
@media (--tablet) {
  .faq-container-bottom .faq__title + .faq-container-bottom-wrapper-content {
    margin-top: 6px;
  }
}
.faq-container-bottom .faq__title + .faq__subtitle {
  margin-top: 15px;
}
@media (--tablet) {
  .faq-container-bottom .faq__title + .faq__subtitle {
    margin-top: 10px;
  }
}
.faq-container-bottom .faq__subtitle + .faq__button {
  margin-top: 20px;
}
.faq-container-bottom .faq-container-bottom-wrapper-content {
  width: 100%;
}
@media (--tablet) {
  .faq-container-bottom .faq-container-bottom-wrapper-content {
    width: 100%;
  }
}
.faq-container-bottom .faq-container-bottom-wrapper-content-item {
  position: relative;
  user-select: none;
}
.faq-container-bottom .faq-container-bottom-wrapper-content-item::after {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}
.faq-container-bottom .faq-container-bottom-wrapper-content:last-of-type .faq-container-bottom-wrapper-content-item::after {
  display: none;
}
.faq-container-bottom .faq-container-bottom-wrapper-content-item-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  transition: opacity 100ms;
  padding: 16px 0;
  position: relative;
}
.faq-container-bottom .faq-container-bottom-wrapper-content-item-header:hover {
  opacity: 0.8;
}
.faq-container-bottom .faq-container-bottom-wrapper-content-item-header-title-link {
  color: #252525;
  font-family: "Satoshi-Medium";
  border: none;
  background: none;
  outline: none;
  padding: 0;
}
.faq-container-bottom .faq-container-bottom-wrapper-content-item-header-title-link:hover {
  cursor: pointer;
}
.faq-container-bottom .faq-container-bottom-wrapper-content-item-header-title-link::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  opacity: 0.5;
}
.faq-container-bottom .faq-container-bottom-wrapper-content-item-header-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
}
@media (max-width: 1024px) {
  .faq-container-bottom .faq-container-bottom-wrapper-content-item-header-title {
    font-size: 16px;
  }
}
.faq-container-bottom .faq-container-bottom-wrapper-content-item-content p {
  font-family: "Satoshi-Regular";
}
@media (max-width: 1024px) {
  .faq-container-bottom .faq-container-bottom-wrapper-content-item-content p {
    font-size: 14px;
  }
}
.faq-container-bottom .faq-container-bottom-wrapper-content-item-header-icon {
  max-width: 36px;
  max-height: 36px;
}
@media (--mobile) {
  .faq-container-bottom .faq-container-bottom-wrapper-content-item-header-icon {
    min-width: 26px;
    min-height: 26px;
  }
}
.faq-container-bottom .faq-container-bottom-wrapper-content-item-header-icon svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.faq-container-bottom .faq-container-bottom-wrapper-content-item-content {
  overflow-y: hidden;
}
.faq-container-bottom .faq-container-bottom-wrapper-content-item-content > p + ul {
  padding-top: 11px;
}
.faq-container-bottom .faq-container-bottom-wrapper-content-item-content > ul > li {
  margin-left: 20px;
}
.faq-container-bottom .faq-container-bottom-wrapper-content-item-content,
.faq-container-bottom .faq-container-bottom-wrapper-content-item-content p {
  line-height: 1.4;
}

.contact-banner {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 95px;
  background-color: #4685ff;
}
@media (max-width: 1024px) {
  .contact-banner {
    margin-top: 40px;
  }
}
.contact-banner-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 66px 0;
  color: #ffffff;
  text-align: center;
  gap: 32px;
  max-width: 60ch;
  margin: auto;
}
@media (max-width: 1024px) {
  .contact-banner-container {
    padding: 40px 0;
  }
}
.contact-banner-container h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.5px;
}
@media (max-width: 1024px) {
  .contact-banner-container h2 {
    font-size: 26px;
    line-height: 32px;
  }
}
.contact-banner-container p {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.5px;
}
.contact-banner-container-cta {
  margin: 14px 0;
}

/*# sourceMappingURL=main.css.map */
